{% extends 'base_security.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block login_button %}
    {% if app.user %}
        {{ app.user.username }},
        <a href="{{ path('app_logout') }}" class="btn btn-basic">
            Logout
        </a>
    {% else %}
        <a href="{{ path('app_register') }}" class="btn btn-basic">
            register
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    <div id="login">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}


            <div class="">

            </div>


            <h1>Log in to your account</h1>

            <div class="form-row">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       autocomplete="email" required autofocus>
            </div>

            <div class="form-row">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                       autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            </div>

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            #}

            <div class="form-row">
                <a href="forgot-password.html">Forgot password ?</a>
            </div>

            <div class="form-row">
                <input type="submit" class="bg-primary" value="je me connete">

            </div>
        </form>
    </div>
{% endblock %}
