{% extends 'base_security.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block login_button %}
    {% if app.user %}
        {{ app.user.username }},
        <a href="{{ path('app_logout') }}" class="btn btn-basic">
           {% trans %} Logout {% endtrans %}
        </a>
    {% else %}
        <a href="{{ path('app_register') }}" class="btn btn-basic">
            {% trans %} Register {% endtrans %}
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    <div id="login">

        <h1>{% trans %}Login{% endtrans %}</h1>

        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="">
            </div>

            <div class="form-row">
                <label for="inputEmail"> {% trans %}Email{% endtrans %}</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       autocomplete="email" required autofocus>
            </div>

            <div class="form-row">
                <label for="inputPassword">{% trans %}Password{% endtrans %}</label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                       autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            </div>

{#            <div class="checkbox mb-3">#}
{#                <label>#}
{#                    <input type="checkbox" name="_remember_me"> Remember me#}
{#                </label>#}
{#            </div>#}


            <div class="form-row">
                <a href="{{ path('app_forgot_password_request') }}">
                    {% trans %}Forgot password {% endtrans %}?
                </a>
            </div>

            <div class="form-row">
                <input type="submit" class="bg-primary" value="je me connecte">

            </div>
        </form>
    </div>
{% endblock %}
