{% extends 'base_security.html.twig' %}

{% block login_button %}
    {% if app.user %}
        {{ app.user.username }},
        <a href="{{ path('app_logout') }}" class="btn btn-basic">
            {% trans %} Logout {% endtrans %}
        </a>
    {% else %}
        <a href="{{ path('app_login') }}" class="btn btn-basic">
            {% trans %} Login {% endtrans %}
        </a>
    {% endif %}
{% endblock %}
{% block title %}Register{% endblock %}
{% block body %}
    <div id="register">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1 class="h3 mb-3 font-weight-normal">{% trans %}Register{% endtrans %}</h1>

        {{ form_start(registrationForm) }}
        <div class="form-row">
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email) }}
        </div>
        {% if form_errors(registrationForm.email)|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(registrationForm.email) }}
            </div>
        {% endif %}
        <div class="form-row">
            {{ form_label(registrationForm.plainPassword, ' ') }}
            {{ form_widget(registrationForm.plainPassword) }}
        </div>
        {% if form_errors(registrationForm.plainPassword)|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(registrationForm.plainPassword) }}
            </div>
        {% endif %}
        <div class="form-row flow-reverse" style="align-items: baseline ; justify-content: flex-end">
{#            {{ form_label(registrationForm.agreeTerms, 'J\'accepte les conditions') }}#}
            <label for="registration_form_agreeTerms"> <a href="{{path('public_condition_use_fr') }}"> J'accepte les conditions </a></label>
            {{ form_widget(registrationForm.agreeTerms) }}
        </div>

        {% if form_errors(registrationForm.agreeTerms)|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(registrationForm.agreeTerms) }}
            </div>
        {% endif %}
        <div class="form-row">
            <input type="submit" class="bg-primary" value="je m'inscris">
        </div>

        {{ form_end(registrationForm) }}

    </div>
{% endblock %}
