{% extends 'base_back.html.twig' %}

{% block login_button %}
    {% if app.user %}Sign in
        {{ app.user.username }},
        <a href="{{ path('app_logout') }}" class="btn btn-basic">
            Logout
        </a>
    {% else %}
        <a href="{{ path('app_login') }}" class="btn btn-basic">
            Sign in
        </a>
    {% endif %}
{% endblock %}
{% block title %}Register{% endblock %}
{% block body %}
    <div id="register">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1 class="h3 mb-3 font-weight-normal">Enregistrement</h1>

        {{ form_start(registrationForm) }}
        <div class="form-row">
            {{ form_row(registrationForm.email) }}
        </div>
        <div class="form-row">
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
        </div>
        <div class="form-row">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>
        <div class="form-row">
            <input type="submit" class="bg-primary" value="je m'inscris">
        </div>

        {{ form_end(registrationForm) }}

    </div>
{% endblock %}
