{% extends 'base_back.html.twig' %}
{% set object = 'dose' %}
{% block title %}Nouvelle dose{% endblock %}

{% block header_h1 %} Dose{% endblock %}
{% block header_h1_icon %}
    <a href="{{ path('admin_' ~ object ~ '_index') }}"
       class="btn circle bg-primary-lighter border-primary inline"
       title="revenir à la liste">

        <i class="material-icons">list</i>
    </a>
{% endblock %}
{% block body %}
    <section class="card wfull">
        <div class="card-header">
            <h3 class="title">{% block card_title %} Ajouter {% endblock %}</h3>
        </div>
        <div class="card-body">
            {{ form_start(form) }}

            <h3>Fréquences</h3>
            <div class="horizontal-group">
                <div class="horizontal-item">
                    <div class="form-row">
                        {{ form_label(form.frequency, 'Fréquence') }}
                        {{ form_widget(form.frequency) }}
                    </div>
                </div>
                <div class="horizontal-item">
                    <div class="form-row">
                        {{ form_label(form.frequency, 'Nouvelle fréquence') }}
                        {{ form_widget(form.frequencyNew.name) }}
                    </div>
                </div>
            </div>

            <h3>Moment</h3>
            <div class="horizontal-group">
                <div class="horizontal-item">
                    <div class="form-row">
                        {{ form_label(form.moment, 'Moment') }}
                        {{ form_widget(form.moment) }}
                    </div>
                </div>
                <div class="horizontal-item">
                    <div class="form-row">
                        {{ form_label(form.momentNew.name, 'Nouveau moment') }}
                        {{ form_widget(form.momentNew.name) }}
                    </div>
                </div>
            </div>
            <div class="form-row">

                {% block submit %} <input type="submit" class="btn auto-min bg-primary text-white"
                                          value="ajouter">{% endblock %}
            </div>
            {{ form_end(form) }}

    </section>
{% endblock %}

