{% extends 'base_back.html.twig' %}

{% block title %}Index{% endblock %}

{% block header_h1 %} {{ app.user.email }}{% endblock %}
{% block header_h1_icon %}
    ( {{ list_size }} )
{% endblock %}
{% block body %}
    <section class="horizontal-group" style="line-height: 1rem;">
{#        <article class="horizontal-item bg-white auto-height margin-horizontal-2 radius-3">#}
{#            <div class="border-left-primary jauge flow-column">#}
{#                <div class="header">#}
{#                    Taille de ma liste#}
{#                </div>#}
{#                <div class="big">#}
{#                    {{ list_size }}#}
{#                </div>#}
{#            </div>#}
{#        </article>#}
        <article class="horizontal-item bg-white auto-height margin-horizontal-2 radius-3">
            <div class="border-left-info jauge flow-column">
                {# <div> #}

                {{ form_start(url_form, {'attr': {
                    'class': 'wfull',
                    'id': 'emergency'
                }}) }}
                <span class="header">Mon url urgence</span>
                <div class="form-row">
                    <label for="url_url">
                        {{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/
                        {{ form_widget(url_form.url, {
                            'value': app.user.url
                        }) }}
                    </label>
                </div>
                <div class="form-row">
                    <input type="submit" class="btn auto-min bg-primary text-white"
                           value="Modifier">
                </div>
                {{ form_end(url_form) }}


            </div>
        </article>
        <article class="horizontal-item bg-white auto-height margin-horizontal-2 radius-3">
            <div class="border-left-success jauge">

                {{ form_start(send_form, {'attr': {
                    'class': 'wfull',
                    'id': ''
                }}) }}
                <span class="header">Envoyer ma liste</span>
                <div class="form-row">
                    <label for="send_email">
                        {{ form_widget(send_form.email) }}
                    </label>
                </div>
                <div class="form-row">
                    <input type="submit" class="btn auto-min bg-success text-white"
                           value="Envoyer">
                </div>
                {{ form_end(url_form) }}

            </div>
        </article>

    </section>

    <section class="card bg-white wfull">
        <div class="card-header">
            <h2 class="title">
                Les médicament que je prends chaque jour
            </h2>
        </div>
        <div class="card-body wrappable">
            <table>
                <thead>
                <tr class="header">
                    <th>Médicament</th>
                    <th>Combien</th>
                    <th>Combien de fois</th>
                    <th>Quand</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in list %}
                    <tr>
                        <td class="product">
                            {{ item.product.name }}
                        </td>
                        <td class="qty">{{ item.qty }}</td>
                        <td class="freq">{{ item.dose.frequency.name }}</td>
                        <td class="moment">{{ item.dose.moment.name }}</td>
                        <td>
                            <a href="{{ path('admin_line_update', {'id': item.id}) }}" class="text-info"> <i
                                        class="material-icons-outlined">edit</i> </a>
                            <a href="{{ path('admin_line_delete', {'id': item.id}) }}" class="text-danger"> <i
                                        class="material-icons-outlined">delete</i> </a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <section class="card bg-white wfull">

                {{ render(path('admin_profile_update')) }}

    </section>
{% endblock %}

