{% extends 'base_back.html.twig' %}

{% block title %}Index{% endblock %}

{% block header_h1 %} {{ app.user.email }}{% endblock %}
{% block body %}
    <section class="horizontal-group" style="line-height: 1rem;">
        <article class="horizontal-item bg-white auto-height margin-horizontal-2 radius-3">
            <div class="border-left-primary jauge flow-column">
                <div class="header">
                    Taille de ma liste
                </div>
                <div class="big">
                    {{ list_size }}
                </div>
            </div>
        </article>
        <article class="horizontal-item bg-white auto-height margin-horizontal-2 radius-3">
            <div class="border-left-info jauge flow-column">
                {# <div> #}
                <form action="" class="wfull" id="emergency">
                    <span class="header">Mon url urgence</span>
                    <div class="form-row">
                        <label for="url">{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/
                            {# <label for="url">https://totolehero/ #}
                            <input type="text" id="url" style="line-height: 1rem;"/>
                        </label>
                    </div>
                    <div class="form-row">
                        <a href="#" class="submit btn auto-min bg-primary text-white">
                            Modifier
                        </a>
                    </div>
                </form>
                <span class=""></span>
                {# </div> #}

            </div>
        </article>
        <article class="horizontal-item bg-white auto-height margin-horizontal-2 radius-3">
            <div class="border-left-success jauge">
                <form action="" class="wfull" id="">
                    <span class="header">Envoyer ma liste</span>
                    <div class="form-row">
                        <label for="send">
                            <input type="text" id="send"/>
                        </label>
                    </div>
                    <div class="form-row">
                        <a href="#" class="submit btn auto-min bg-success text-success">
                            Envoyer
                        </a>
                    </div>
                </form>

            </div>
        </article>

    </section>

    <section class="card bg-white wfull">
        <div class="card-header">
            <h2 class="title">
                Les médicament que je prends chaque jour
            </h2>
        </div>
        <div class="card-body wrappable">
            <table>
                <tbody>
                <tr class="header">
                    <th>Médicament</th>
                    <th>Combien</th>
                    <th>Combien de fois</th>
                    <th>Quand</th>
                    <th></th>
                </tr>

                {% for item in list %}
                    <tr>
                        <td class="">
                            {{ item.product.name }}
                        </td>
                        <td>{{ item.qty }}</td>
                        <td>{{ item.dose.frequency.name }}</td>
                        <td>{{ item.dose.moment.name }}</td>
                        <td>
                            <i class="material-icons-outlined">edit</i>
                            <i class="material-icons-outlined">delete</i>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}

