<!-- Modale for dose / posologie -->
<div {{ stimulus_target('modale-dose', 'container' ) }}
        class="fixed inset-0 bg-gray-600 bg-opacity-60 hidden items-center justify-center z-50">

    <div class="w-full md:w-96 p-4 flex flex-col space-y-8 bg-surface-light dark:bg-surface-dark p-4 rounded shadow-lg p-6">
        {{ form_start(formDose, {'attr': {'data-modale-dose-target': 'form'}}) }}
        <div class="flex justify-between items-center">
            <twig:title:h3>A quelle frequence ?</twig:title:h3>
            <span class="cursor-pointer" {{ stimulus_action('modale-dose', 'close', 'click') }}>
                        <twig:ux:icon name="si:close-duotone"
                                      class="w-6 text-content-primary-light/70 dark:text-content-primary-dark/70"/>
                        </span>
        </div>

        <div class="p-2.5 space-y-4">
            {{ form_label(formDose.frequency, 'Fréquence', {'label_attr': {'class': 'block text-basis font-medium text-content-light dark:text-content-primary-dark/80'}}) }}
            {{ form_widget(formDose.frequency, {'attr': {
                'data-modale-dose-target': "frequency",
                'class': 'form-control bg-base-light/50 border border-gray-300 text-content-light/80 rounded-lg focus:ring-2 focus:ring-base-dark focus:border-base-dark block w-full p-2.5 dark:bg-base/50 dark:border-base-dark/80 dark:placeholder-content-primary-light/40 dark:text-content-primary-light/80 dark:focus:base-dark/80 dark:focus:border-base-dark/80 focus:ring-base-dark/20 focus:outline-none focus-visible:ring'
            }}) }}
        </div>
        <div {{ stimulus_target('modale-dose', 'frequencyNew') }} class="p-2.5 space-y-4 hidden">
            {{ form_label(formDose.frequencyNew.name, 'Nouvelle fréquence', {'label_attr': {'class': 'block text-basis font-medium text-content-light dark:text-content-primary-dark/80'}}) }}
            {{ form_widget(formDose.frequencyNew.name, {'attr': {
                'class': 'form-control bg-base-light/50 border border-gray-300 text-content-light/80 rounded-lg focus:ring-2 focus:ring-base-dark focus:border-base-dark block w-full p-2.5 dark:bg-base/50 dark:border-base-dark/80 dark:placeholder-content-primary-light/40 dark:text-content-primary-light/80 dark:focus:base-dark/80 dark:focus:border-base-dark/80 focus:ring-base-dark/20 focus:outline-none focus-visible:ring'
            }}) }}
        </div>


        <twig:title:h3>Moment de la journée</twig:title:h3>
        <div class="p-2.5 space-y-4">
            {{ form_label(formDose.moment, 'Moment', {'label_attr': {'class': 'block text-basis font-medium text-content-light dark:text-content-primary-dark/80'}}) }}
            {{ form_widget(formDose.moment, {'attr': {
                'data-modale-dose-target': "moment",
                'class': 'form-control bg-base-light/50 border border-gray-300 text-content-light/80 rounded-lg focus:ring-2 focus:ring-base-dark focus:border-base-dark block w-full p-2.5 dark:bg-base/50 dark:border-base-dark/80 dark:placeholder-content-primary-light/40 dark:text-content-primary-light/80 dark:focus:base-dark/80 dark:focus:border-base-dark/80 focus:ring-base-dark/20 focus:outline-none focus-visible:ring'
            }}) }}
        </div>
        <div {{ stimulus_target('modale-dose', 'momentNew') }} class="p-2.5 space-y-4 hidden">
            {{ form_label(formDose.momentNew.name, 'Nouveau moment', {'label_attr': {'class': 'block text-basis font-medium text-content-light dark:text-content-primary-dark/80'}}) }}
            {{ form_widget(formDose.momentNew.name, {'attr': {
                'class': 'form-control bg-base-light/50 border border-gray-300 text-content-light/80 rounded-lg focus:ring-2 focus:ring-base-dark focus:border-base-dark block w-full p-2.5 dark:bg-base/50 dark:border-base-dark/80 dark:placeholder-content-primary-light/40 dark:text-content-primary-light/80 dark:focus:base-dark/80 dark:focus:border-base-dark/80 focus:ring-base-dark/20 focus:outline-none focus-visible:ring'
            }}) }}
        </div>

        <div class="p-2.5">
            <twig:button:action attributes="{{ stimulus_action('modale-dose', 'submit', 'click') }}">
                Ajouter
            </twig:button:action>
        </div>

        {{ form_end(formDose) }}
    </div>

</div>