{{ form_start(form, {'class': 'w-full'}) }}
<div class="p-4 flex flex-col space-y-8">
    {#                    Quantiy / product / add  #}
    <div class="w-full flex flex-col items-end  md:flex-row space-y-4 md:space-y-0 md:space-x-4">
        <div class="w-full flex  md:flex-1 items-center space-x-4">
            <div class="w-16">
                {{ form_label(form.qty, 'Q', {'label_attr': {'class': 'block text-basis font-medium text-content-light dark:text-content-primary-dark/80 p-2.5'}}) }}
                {{ form_widget(form.qty, {
                    'type':'number',
                    'attr': {
                        'min': 0.5,
                        'max': 10,
                        'step': 0.5,
                        'class': 'form-control bg-base-light/50 border border-gray-300 font-semibold text-content-light rounded-lg focus:ring-2 focus:ring-base-dark focus:border-base-dark block w-full p-2.5 dark:bg-base/50 dark:border-base-dark/80 dark:placeholder-content-primary-dark/40 dark:text-content-primary-light/90 dark:focus:base-dark/80 dark:focus:border-base-dark/80 focus:ring-base-dark/20 focus:outline-none focus-visible:ring'
                    }}) }}

            </div>
            <div class="flex flex-col flex-1">
                {{ form_label(form.product, 'Produits', {'label_attr': {'class': 'block text-basis font-medium text-content-light dark:text-content-primary-dark/80 p-2.5'}}) }}
                {{ form_widget(form.product, {'attr': {'class': 'form-control font-semibold bg-base-light/50 border border-gray-300 text-content-primary-light rounded-lg focus:ring-2 focus:ring-base-dark focus:border-base-dark block w-full p-2.5 dark:bg-base/50 dark:border-base-dark/80 dark:placeholder-content-primary-dark/40 dark:text-content-primary-light/90 dark:focus:base-dark/80 dark:focus:border-base-dark/80 focus:ring-base-dark/20 focus:outline-none focus-visible:ring'}}) }}
            </div>
        </div>
        <div class="w-full md:w-20 items-center">
            <div class="p-2.5">
                &nbsp;
            </div>
            <twig:button:action attributes="{{ stimulus_action('modale-product', 'open', 'click') }}">
                Ajouter un produit
            </twig:button:action>
        </div>
    </div>
    {#                 END   Quantiy / product / add  #}
    <div class="w-full flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
        <div class="w-full space-y-4 flex flex-col">
            {{ form_label(form.days, null, {'label_attr': {'class': 'block text-basis font-medium text-content-light dark:text-content-primary-dark/80 p-2.5'}}) }}
            <div class="grid grid-cols-2 md:grid-cols-4 gap-4 form-control font-semibold bg-base-light/50 border border-gray-300 text-content-primary-light rounded-lg focus:ring-2 focus:ring-base-dark focus:border-base-dark block w-full p-2.5 dark:bg-base/50 dark:border-base-dark/80 dark:placeholder-content-primary-dark/40 dark:text-content-primary-light/90 dark:focus:base-dark/80 dark:focus:border-base-dark/80 focus:ring-base-dark/20 focus:outline-none focus-visible:ring">
                {% for checkbox in form.days %}
                    <div class="flex items-center space-x-4">
                        {{ form_widget(checkbox) }}
                        {{ form_label(checkbox) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="w-full flex flex-col items-end md:flex-row space-y-4 md:space-y-0 md:space-x-4">
        <div class="flex flex-col flex-1">
            {{ form_label(form.dose, null, {'label_attr': {'class': 'block text-basis font-medium text-content-light dark:text-content-primary-dark/80 p-2.5'}}) }}
            {{ form_widget(form.dose, {'attr': {
                'class': 'form-control font-semibold bg-base-light/50 border border-gray-300 text-content-primary-light rounded-lg focus:ring-2 focus:ring-base-dark focus:border-base-dark block w-full p-2.5 dark:bg-base/50 dark:border-base-dark/80 dark:placeholder-content-primary-dark/40 dark:text-content-primary-light/90 dark:focus:base-dark/80 dark:focus:border-base-dark/80 focus:ring-base-dark/20 focus:outline-none focus-visible:ring'
            }}) }}
        </div>
        <div class="w-full md:w-20 items-center">
            <div class="p-2.5">&nbsp;</div>
            <twig:button:action attributes="{{ stimulus_action('modale-dose', 'open', 'click') }}">
                Ajouter
            </twig:button:action>
        </div>
    </div>
    <div class="flex flex-col-reverse sm:flex-row sm:justify-between sm:items-center gap-4">
        <a href="{{ path('member_line_index') }}"
           class="inline-flex justify-center items-start text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-200 underline text-center sm:text-left">
            {{ ux_icon('flowbite:arrow-left-outline', {'class': 'w-6'}) }} {{ button_cancel_label|default('Cancel')|trans }}
        </a>

        <twig:button:submit>
            {{ button_label|default('Save')|trans }}
        </twig:button:submit>
    </div>

</div>
{{ form_end(form) }}