<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/fontawesome.min.css"
          integrity="sha512-W5OxdLWuf3G9SMWFKJLHLct/Ljy7CmSxaABQLV2WIfAQPQZyLSDW/bKrw71Nx7mZKN5zcL+r8pRCZw+5bIoHHw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp">
    <title>{% block title %}Liste de médicaments !{% endblock %}</title>

    {% block stylesheets %}
        {# parent() #}
        {{ encore_entry_link_tags('back') }}
    {% endblock %}

    {% block javascripts %}
        {# parent() #}
        {{ encore_entry_script_tags('back') }}
    {% endblock %}
</head>
<body class="bg-tertiary-light">
<div class="container-fluid">

    {% include '_template-parts/_lateral-nav.html.twig' %}

    <div id="content" class="">
        <div id="content-logo">

            <a href="#" id="menu"> <i class="fi-rr-menu-burger"></i> </a>
            <span class="title text-primary">
                <span class="text-quaternary"> <i class="fi-rr-medicine"></i> </span>Mes Médocs</span>
        </div>
        <header>
            <h1>
                {% block header_h1 %}
                    Hello You
                {% endblock %}
                {% block header_h1_icon %}
                    <i class="open-hand"></i>
                {% endblock %}
            </h1>
            <h2>
                {% block header_h2 %}
                    Ma liste de médicaments
                {% endblock %}
            </h2>
            {# <input type="search" id="site-search" name="q" #}
            {# aria-label="Search through site content" placeholder=" "> #}
        </header>

        {% for message in app.flashes('notice') %}
            <div class="alert alert-notice">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-error">
                {{ message }}
            </div>
        {% endfor %}

        {% block body %}
            <section>content</section>
        {% endblock %}
    </div>
</div>
</body>

</html>
