<!DOCTYPE html>
<html lang="fr_BE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> #}
    {% block seo %}
        <title>{% block title %}Comment mémoriser ma liste de médicaments{% endblock %}</title>
        <meta name="description"
              content="{% block description %}Encode les médicaments que tu dois prendre chaque jour ainsi que leur dosage et leur fréquence et transmet cette liste via email ou QR Code{% endblock %}"/>
        <meta property="og:description"
              content="{% block og_description %}Encode les médicaments que tu dois prendre chaque jour ainsi que leur dosage et leur fréquence et transmet cette liste via email ou QR Code{% endblock %}"/>
        <meta property="og:title"
              content="{% block og_title %}Comment mémoriser ma liste de médicaments{% endblock %}"/>
        <meta property="og:type" content="{% block og_type %}siteweb{% endblock %}"/>
        <meta property="og:locale" content="fr_BE"/>
        <meta property="og:url" content="{% block og_url %}https://medocs{% endblock %}"/>
        <meta property="og:image"
              content="{% block og_image %}https://medocs.be/build/images/Wavy_Med-logo_bg.47907079.png{% endblock %}"/>
        <meta property="og:site_name"
              content="{% block og_site_name %}Comment mémoriser ma liste de médicaments: Medocs.be{% endblock %}"/>
        {#        {% include '_template-parts/analytics.html.twig' %} #}
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}

    {% endblock %}
</head>
<body class="bg-base-light text-content-primary-light dark:bg-base-dark dark:text-content-primary-dark">
<div class="w-full lg:max-w-screen-xl min-h-screen mx-auto px-4 py-8">

    {% for message in app.flashes('notice') %}
        <div class="alert alert-notice">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-error">
            {{ message }}
        </div>
    {% endfor %}
    <twig:title:h1>{% trans %}Mes medocs{% endtrans %}</twig:title:h1>

    {% block body %}{% endblock %}

</div>

{% include '_template-parts/_footer.html.twig' %}
</body>

</html>
