<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp">
    <title>{% block title %}Liste de médicaments !{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {# parent() #}
        {{ encore_entry_link_tags('back') }}
    {% endblock %}

    {% block javascripts %}
        {# parent() #}
        {{ encore_entry_script_tags('back') }}
    {% endblock %}
</head>
<body class="bg-tertiary-light bg-illustration ">
<div class="container-left bg-white border-primary">
    {% block header %}
        <header class="toolbar">
            <span class="title text-primary">  <i class="material-icons-two-tone">medication_liquid</i> Mes médocs</span>

            {% block login_button %}
                {% if app.user %}
                    {{ app.user.username }},
                    <a href="{{ path('app_logout') }}" class="btn btn-basic">
                        Logout
                    </a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-basic">
                        Sign in
                    </a> or
                    <a href="{{ path('app_register') }}" class="btn btn-basic">
                        Register
                    </a>
                {% endif %}
            {% endblock %}
        </header>
    {% endblock %}

    {% for message in app.flashes('notice') %}
        <div class="alert alert-notice">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% block body %}{% endblock %}


    {% block footer %}
        {# <footer>
           <h6>jphNovitz</h6>
        </footer> #}
    {% endblock %}
</div>
</body>

</html>
