<nav id="sidebar" class="bg-white text-primary">
    <div id="logo">
        <a href="#" id="sidebar-menu"> <i class="material-icons-two-tone"> menu </i></a>
        <span class="title text-primary">
            Medocs.be
            <i class="material-icons-two-tone">medication_liquid</i>

            </span>
    </div>
    <ul class="menu-vertical">
        <li class="
            {% if app.request.attributes.get('_route') == 'admin_index' %}active{% endif %}">
            <a href="{{ path('admin_index') }}">
                <i class="material-icons-round">home</i> Accueil
            </a>
        </li>
        <li class="
            {% if app.request.attributes.get('_route') == 'admin_line' %}active{% endif %}">
            <a href="{{ path('admin_line_index') }}">
                <i class="material-icons-round">
                    format_list_bulleted</i> Ma liste
            </a>
        </li>
        <li class="
            {% if app.request.attributes.get('_route') == 'admin_profile' %}active{% endif %}">
            <a href="{{ path('admin_profile_update') }}">
                <i class="material-icons-round">person</i> Mon profil
            </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li class=" {% if ( 'admin_product' in app.request.attributes.get('_route'  )) %} active {% endif %}">
                <a href="{{ path('admin_product_index') }}">
                    <i class="material-icons-round">inventory_2</i> Produits
                </a>
            </li>

            <li class=" {% if ( 'admin_frequency' in app.request.attributes.get('_route'  )) %} active {% endif %}">
                <a href="{{ path('admin_frequency_index') }}">
                    <i class="material-icons-round">timelapse</i> Fréquences
                </a>
            </li>
            <li class=" {% if ( 'admin_moment' in app.request.attributes.get('_route'  )) %} active {% endif %}">
                <a href="{{ path('admin_moment_index') }}">
                    <i class="material-icons-round">watch</i> Moment
                </a>
            </li>
        {% endif %}
        <li class=" {% if ( 'admin_dose' in app.request.attributes.get('_route'  )) %} active {% endif %}">
            <a href="{{ path('admin_dose_index') }}">
                <i class="material-icons-round">water_drop</i> Dosage
            </a>
        </li>
        <li class="">
            <a href="{{ path('app_logout') }}">
                <i class="material-icons-round">watch</i> Quitter
            </a>
        </li>
        <li class="">
            <a href="{{ path('public_faq_fr') }}">
                <i class="material-icons-round">watch</i> Quitter
            </a>
        </li>
        {# <li class=" {% if (app.request.attributes.get('_route') == 'admin_product_index')
            or (app.request.attributes.get('_route') == 'admin_product_update') %}active{% endif %}">
                <a href="{{ path('admin_product_index') }}">
                    <i class="material-icons-round">inventory_2</i> Produits
                </a>
            </li> #}
    </ul>
    <div class="profile-image">
        <img src="{{ asset('images/Wavy_Med-logo_bg.png') }}"/>
    </div>


    <footer>
        <h6>
            <span><a href="https://www.medocs.be">Médocs.be</a></span><br/>
            <span> Novitz Jean-Philippe,  <br/> <span class="material-icons-outlined"> copyright </span> 2021 <a
                        href="https://jphnovitz.be/"> développeur web à Liège </a>  </span>
        </h6>
    </footer>

</nav>