<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
       <title>{% block title %}Liste de médicaments !{% endblock %}</title>

    {% block stylesheets %}
        {# parent() #}
        {{ encore_entry_link_tags('front') }}
    {% endblock %}

    {% block javascripts %}
        {# parent() #}
        {{ encore_entry_script_tags('front') }}
    {% endblock %}
</head>
<body>
<div id="container">
    {% block header %}
        <header>
            <h1>
            {% block header_h1 %}
                Liste de Médicaments
            {% endblock %}
            </h1>
        </header>
    {% endblock %}

    {% for message in app.flashes('notice') %}
        <div class="alert alert-notice">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-error">
            {{ message }}
        </div>
    {% endfor %}

    {% block body %}{% endblock %}


    {% include '_template-parts/_footer.html.twig' %}
</div>
</body>

</html>
