{{ form_start(form, {'attr': {
    'class': 'wfull',
    'style': 'width: 100%'
}}) }}

<div class="horizontal-group">
    <div class="horizontal-item flow-column margin-horizontal-2">
        <div class="card-header">
            <h2 class="title">Mes information personnelles</h2>
        </div>
        <div class="card-body">
{#            <article class="horizontal-item bg-white auto-height margin-horizontal-2 radius-3">#}
                <div class="form-row">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
{#            </article>#}
        </div>
    </div>
    <div class="horizontal-item flow-column margin-horizontal-2">
        <div class="card-header">
            <h2 class="title">Mes information personnelles</h2>
        </div>
        <div class="card-body flow-column">
            <div class="form-row">
                {{ form_label(form.oldPassword,  'Ancien mot de passe') }}
                {{ form_widget(form.oldPassword) }}
            </div>
            <div class="form-row">
                {{ form_label(form.newPassword, 'Nouveau mot de passe') }}
                {{ form_widget(form.newPassword) }}
            </div>
            <div class="form-row">
                {{ form_label(form.repeatPassword, 'Répétez le mot de passe') }}
                {{ form_widget(form.repeatPassword) }}
            </div>
        </div>
    </div>
</div>
<div class="form-row">
    <input type="submit" class="btn auto-min bg-info text-info" value="modifier">
</div>
{{ form_end(form) }}